body {
  font-family: Arial,sans-serif;
  
  background-color: #ffffcc;
  margin: 0;
  color: #333333; }

a {
  color: #336699;
  padding: .1em; }
  a:hover {
    background-color: #dfefff;
    text-decoration: none; }

#title {
  border-bottom: 1px dotted #389933;
  overflow: hidden;
  margin: 0 0 10px;
  padding: .5em 0; }
  #title h1 {
    font-size: 140%;
    color: #389933;
    float: left;
    margin: 0;
    padding: 0; }

.nav {
  font-size: 80%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right; }
  .nav li {
    float: left;
    margin: 4px 0 0 8px; }
    .nav li span {
      font-weight: normal;
      color: #666666; }
    .nav li img {
      vertical-align: -4px; }
    .nav li.admin {
      background-color: #ffffcc;
      border: 1px solid #ffcc99;
      padding: 3px 6px;
      margin-top: 0; }
    .nav li a {
      text-decoration: none; }
    .nav li a:hover {
      text-decoration: underline;
      background-color: transparent; }

dfn {
  font-style: normal;
  border-bottom: 1px dashed #aaaaaa;
  cursor: help; }

form {
  font-size: 90%; }

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold; }

input, textarea, select {
  border: 1px solid #cccccc;
  font-family: Lucida Grande;
  font-size: 90%;
  padding: .1em; }

input#commit {
  display: inline;
  width: auto; }

textarea {
  width: 400px;
  height: 100px; }

img {
  vertical-align: middle;
  border: 0;
  background-color: transparent; }

#errorExplanation {
  margin: 1em 0;
  font-size: 80%;
  border: 10px solid #990000; }
  #errorExplanation h2 {
    font-size: 100%;
    font-weight: normal;
    color: #ffffff;
    background-color: #990000;
    margin: 0 0 1em;
    padding: 0 0 10px; }
  #errorExplanation p {
    display: none; }
  #errorExplanation ul {
    margin: 0 1em 1em;
    padding: 0;
    list-style: none; }

#container {
  width: 880px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ef944a; }


#nav, #tabs {
  margin: 0 auto;
  padding: 0;
  list-style: none; }
  #nav li, #tabs li {
    float: left; }

#nav {
  float: right;
  font-size: 75%; }
  #nav li {
    margin: 0 5px;
    padding: 6px 0; }
    #nav li a {
      color: #ffffff;
      text-decoration: none; }
      #nav li a:hover {
        background-color: transparent;
        text-decoration: underline; }

body#exercises li#exercises_link, body#settings li#settings_link, body#account li#account_link, body#logout li#logout_link {
  font-weight: bold; }
  body#exercises li#exercises_link a, body#settings li#settings_link a, body#account li#account_link a, body#logout li#logout_link a {
    text-decoration: none; }

#tabs {
  float: left;
  font-size: 85%;
  margin: 0 0 0 10px; }
  #tabs li {
    padding: 6px; }
    #tabs li a {
      padding: 6px;
      color: #ffffff;
      text-decoration: none; }
      #tabs li a:hover {
        background-color: #ffffcc;
        color: #ef944a;
        text-decoration: none; }

body#welcome li#welcome_tab, body#workouts li#workouts_tab, body#vitals li#vitals_tab, body#calendar li#calendar_tab, body#journal li#journal_tab, body#reports li#reports_tab {
  background-color: #ffffff;
  padding: 6px 8px; }
  body#welcome li#welcome_tab a, body#workouts li#workouts_tab a, body#vitals li#vitals_tab a, body#calendar li#calendar_tab a, body#journal li#journal_tab a, body#reports li#reports_tab a {
    font-weight: bold;
    text-decoration: none;
    color: #336699; }
    body#welcome li#welcome_tab a:hover, body#workouts li#workouts_tab a:hover, body#vitals li#vitals_tab a:hover, body#calendar li#calendar_tab a:hover, body#journal li#journal_tab a:hover, body#reports li#reports_tab a:hover {
      background-color: transparent;
      text-decoration: none;
      color: #336699; }

#main {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  clear: both; }

#intro {
  font-size: 80%;
  line-height: 1.5;
  color: #333333;
  margin: 0 0 1em;
  padding: 0;
  background-color: #ffffcc;
  border: 1px solid #ffcc99; }
  #intro #intro_container {
    margin: 1em; }
  #intro h2 {
    text-align: left;
    border: 0;
    margin: 0 0 .5em;
    padding: 0;
    color: #336699; }
  #intro p {
    margin: 0 0 1em; }
    #intro p .section {
      font-weight: bold; }

.blank {
  color: #cccccc; }

.example {
  font-size: 70%;
  color: #bbbbbb;
  margin: 4px 0; }

.selected {
  background-color: #dfefff;
  cursor: pointer; }

.error {
  border: 2px solid #990000; }

#footer {
  width: 880px;
  margin: 10px auto;
  font-size: 80%;
  color: #ef944a; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    border: 2px solid #990000; }

table#list {
  font-size: 80%;
  width: 100%;
  clear: both; }
  table#list th {
    padding: .2em;
    border-bottom: 3px double #aaaaaa;
    text-align: left; }
  table#list td {
    padding: 4px;
    border-bottom: 1px dotted #cccccc;
    vertical-align: middle; }
    table#list td.actions a {
      background-color: transparent; }
    table#list td img {
      margin: 0 4px 0 0; }
  table#list .date {
    font-size: 90%;
    color: #999999;
    font-style: italic; }
  table#list .actions {
    width: 20px; }
  table#list p {
    margin: 0 0 .5em; }

.clear {
  clear: both; }

#save {
  display: block;
  margin: 1em 0;
  padding: 1em 0 0;
  text-align: center;
  border-top: 1px dotted #cccccc;
  font-size: 80%;
  clear: both; }
  #save input {
    font-size: 120%;
    font-weight: bold;
    border: 3px double #cccccc;
    margin: 0 .2em; }

#prev_next {
  overflow: hidden;
  margin: 0 0 10px; }
  #prev_next .nav {
    display: block;
    text-align: center;
    float: none; }
    #prev_next .nav li {
      display: inline;
      float: none;
      margin: 0 1em; }
