<h1>Welcome to FitPocket!</h1>

<p>FitPocket wants to be a quick and simple way to track your workout progress. So far we think we've done a pretty
  good job! This tab is here to give you a quick rundown of how everything works together to give you an easy
  way to record your workouts and then go back to get a complete picture of your progress.</p>
  
<dl>
  <dt>